[
        {"time":0,"commands":[
                {"id":1,"method":"algorithm.add","params":["equihash","equihash.eu.nicehash.com:3357","${wallet}.${workername}"]}
        ]},
        {"time":3,"commands":[
                ${workers}
        ]},
        {"time":10,"loop":10,"commands":[
                ${prints},
                {"id":1,"method":"algorithm.print.speeds","params":["0"]}
        ]}
]